<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffSharp" version="0.7.5" targetFramework="net46" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net46" />
  <package id="FSharp.Compiler.Service" version="0.0.90" targetFramework="net46" />
  <package id="FSharp.Formatting" version="2.11.0" targetFramework="net46" />
  <package id="FSharp.Quotations.Evaluator" version="1.0.6" targetFramework="net46" />
  <package id="FSharpVSPowerTools.Core" version="1.9.0" targetFramework="net46" />
  <package id="Google.DataTable.Net.Wrapper" version="3.1.2.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="R.NET.Community" version="1.6.4" targetFramework="net46" />
  <package id="R.NET.Community.FSharp" version="1.6.4" targetFramework="net46" />
  <package id="RProvider" version="1.1.14" targetFramework="net46" />
  <package id="XPlot.GoogleCharts" version="1.2.1" targetFramework="net46" />
  <package id="XPlot.GoogleCharts.WPF" version="1.2.1" targetFramework="net46" />
</packages>