<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hype">
    <meta name="author" content="Atılım Güneş Baydin; Barak A. Pearlmutter">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <link type="text/css" rel="stylesheet" href="../misc/style.css" />
    <script type="text/javascript" src="../misc/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html">Hype</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="https://github.com/gbaydin/Hype">GitHub</a></li>
            <li><a href="https://github.com/gbaydin/Hype/releases">Release Notes</a></li>
            <li><a href="index.html">API Reference</a></li>
            <li><a href="../download.html">Download</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          @RenderBody()
        </div>
        <div class="col-sm-3">
          <img src="../img/hype.png" style="width:200px"/>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="../optimization.html">Optimization</a></li>
            <li><a href="../linearregression.html">Linear Regression</a></li>
            <li><a href="../logisticregression.html">Logistic Regression</a></li>
            <li><a href="#">Neural Networks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>  
</html>
